h1{
  color : #474F7F;
  font-size:60px;
  font-family: 'Cinzel', serif;
  text-align: center;
  }
h2{
  color : #474F7F;
  font-size:45px;
  font-family: 'Cinzel', serif;
  text-align: left;
}
h4{
  color : #474F7F;
  font-size:32px;
  font-family: 'Cinzel', serif;
  text-align: center;
}
p{
  color : #161729;
  font-size:18px;
  font-family: 'Lato', serif;
  text-align: center;;
}
.container {
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}

.dropbtn {
    font-family: 'Lato', sans-serif;
    background-color: #A9ADCC;
    color: white;
    padding: 17px 85px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #C6C8F5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 17px 86px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #D3E0FF}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #D3D9FF;
}
a:link {
  text-decoration: none;
  color : #474F7F;
  font-size: 16px;
  font-family: 'Lato', serif;
  text-align: center;
}
a:visited {
  text-decoration: none;
  color : #474F7F;
  font-size: 16px;
  font-family: 'Lato', serif;
  text-align: center;
}
